{
  "extends": ["react-app", "prettier", "prettier/@typescript-eslint"],
  "plugins": ["@typescript-eslint", "prettier", "react", "standard", "react-hooks", "emotion"],
  "overrides": [
    {
      "files": ["**/*.ts?(x)"]
    }
  ],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": ["warn", { "additionalHooks": "useLatestCallback|useInfiniteScroll" }],
    "emotion/jsx-import": "error",
    "emotion/no-vanilla": "error",
    "emotion/import-from-emotion": "error",
    "emotion/styled-import": "error"
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true
  }
}
