$indicatorCol: indicator;
$nameCol: groupName;
$editButtonCol: editButton;
$numPapersCol: numPapers;
$dateCol: dateCol;

.indicator {
  grid-column: $indicatorCol;
}

.name {
  grid-column: $nameCol;
}

.date {
  grid-column: $dateCol;
}

.edit {
  grid-column: $editButtonCol;
}

.numPapers {
  grid-column: $numPapersCol;
  justify-self: center;
}

.baseRow {
  display: grid;
  column-gap: 12px;
  grid-template-columns: [$indicatorCol] 16px [$nameCol] 1fr [$dateCol] 100px [$numPapersCol] minmax(60px,max-content) [$editButtonCol] 30px;
}

.titleRow {
  min-height: 40px;
}

.groupRow {
  min-height: 60px;
}
