.drawerList {
  width: 450px;
  @media only screen and (max-width: 480px) {
    width: 350px;
  }
}

.floatingMenu {
  position: fixed;
  left: 10px;
  padding: 10px 5px;
  border-radius: 999px;
  background-color: rgba(var(--main-color-base), 0.15);
  z-index: 999;
  transition: top 0.3s ease;
  top: 54px;

  &.scrolled {
    top: 10px;
  }

  .button {
    opacity: 0.5;
    padding: 5px;
    display: flex;
    cursor: pointer;

    &:not(:first-of-type) {
      margin-top: 8px;
    }

    &:hover {
      opacity: 1;
    }
  }
}
