.drawerList {
  width: 450px;
}

.floatingMenu {
  position: fixed;
  left: 5px;
  padding: 5px;
  border-radius: 999px;
  background-color: rgba(var(--main-color-base), 0.15);
  z-index: 999;
  transition: top 0.3s ease;
  top: 50px;

  &.scrolled {
    top: 10px;
  }

  .button {
    opacity: 0.7;
    padding: 5px;
    display: flex;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}
