
.comments-container {
  position: relative;
  color: rgb(119, 119, 119);
  overflow-y: scroll;
  height: 100%;
  // TODO fix the hard coding of the navbar height
}

.comments-help {
  position: absolute;
  right: 1px;
  bottom: 10px;
  @media (max-width: 576px) {
    bottom: 5px;
  }
}
