$main: #36a0f5;

.popup {
  padding: 10px;
  max-width: 300px;
  max-height: 300px;
  overflow-y: auto;
  font-size: 0.8rem;
  line-height: 1.4;
  border-radius: 8px;
  min-width: 200px;
  color: #303030;
  p:first-of-type {
    margin-top: 0;
  }
  p:last-of-type {
    margin-bottom: 0;
  }
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 350px;
  max-width: 90vw;
  max-height: 80vh;
  background-color: white;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  padding: 32px;
  outline: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row {
  display: flex;
  flex-direction: row;
}

.centeredRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fullScreen {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.screenCentered {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
