body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', -apple-system, 'Segoe UI', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.Toastify__toast--info {
  background-color: #ceebff;
  color: #444444;
}

@media only screen and (min-width: 480px) {
  .base-toast {
    width: 400px;
    margin-left: -200px;
  }
}

.download-extesion {
  text-align: center;
}
